---
import Card from './Card.astro';
import ExternalLink from './ExternalLink.astro';
import type { CollectionEntry } from 'astro:content';
import { toTitleCase } from '@/utils/common-utils';

interface Props {
    event: CollectionEntry<'event'>;
}

const {
    event: {
        data: { title, date, time, linkUrl, description, eventType, address },
    },
} = Astro.props;

const formatter = Intl.DateTimeFormat('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    weekday: 'short',
});
---

<Card>
    <div class="event-details-wrapper">
        <div class="event-link-wrapper">
            <ExternalLink linkUrl={linkUrl} title={title} />

            {eventType && <p>{toTitleCase(eventType)}</p>}
        </div>
        <p>
            {formatter.format(date)}
            {time && `at ${time}`}
        </p>
        {address && <p>{address}</p>}
    </div>
    {description && <p class="description">{description}</p>}
</Card>

<style>
    .event-link-wrapper {
        display: flex;
        justify-content: space-between;
    }

    p {
        margin-block-start: 0;
    }

    .description {
        margin-block-start: var(--spacing-200);
    }
</style>
