---
import { getCollection } from 'astro:content';
import BookPreview from '@/components/BookPreview.astro';
import { removeTemplates } from '@/utils/data-utils';

// Get two most recent books
const rawBooks = await getCollection('book');
const books = removeTemplates(rawBooks);
const recentBooks = books.toSorted((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()).slice(0, 2);
---

<section id="hero">
    <div class="content-wrapper">
        {
            recentBooks.map((book) => (
                <BookPreview title={book.data.title} publisher={book.data.publisher} date={book.data.date} image={book.data.image} url={book.data.url} />
            ))
        }
    </div>
</section>

<style is:global>
    .content-wrapper {
        display: grid;
        gap: var(--spacing-400);
    }

    .section-title {
        font-style: italic;
        margin: 0;
    }
</style>
