---
// import { Image } from 'astro:assets';
// import { getCollection, getEntry } from 'astro:content';
// import BookPreview from '@/components/BookPreview.astro';
// import { removeTemplates } from '@/utils/data-utils';

// const entry = await getEntry('hero', 'index');
// const { title, subtitle, image } = entry?.data ?? {};

// // Get two most recent books
// const rawBooks = await getCollection('book');
// const books = removeTemplates(rawBooks);
// const recentBooks = books.toSorted((a, b) => b.data.year - a.data.year).slice(0, 2);
---

<section id="hero">
    <div class="content-wrapper">
        <!-- { -->
        <!--     recentBooks.map((book) => ( -->
        <!--         <BookPreview -->
        <!--             title={book.data.title} -->
        <!--             publisher={book.data.publisher} -->
        <!--             year={book.data.year} -->
        <!--             description={book.data.description} -->
        <!--             image={book.data.image} -->
        <!--             linkUrl={book.data.linkUrl} -->
        <!--         /> -->
        <!--     )) -->
        <!-- } -->
    </div>
</section>

<style is:global>
    .content-wrapper {
        display: grid;
        gap: var(--spacing-400);
    }

    .section-title {
        font-style: italic;
        margin: 0;
    }
</style>
